spring:
  application:
    name: orchestrator
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:h2:mem:orchestratordb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

# AI models
ollama:
  base-url: http://192.168.0.146:11434
  model-name: llama3.1:8b

# OpenAPI Documentation
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
  api-docs:
    path: /api-docs

docker:
  host: tcp://localhost:2375 # Standard TCP port for Docker daemon